<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css"> 
</head>

<body>
    {{>header}}
    <p>You messed up and tried searching for a page that doesn't exist. Shame on you!</p>
    {{>footer}}
</body>

</html>