<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css"> 
</head>

<body>
    {{>header}}
    <img class="portrait" src ="./images/headshot.jpg">
    <p>{{name}}</p>
    {{>footer}}
</body>

</html>